@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  @apply w-screen overflow-x-hidden;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}
#__next {
  @apply w-screen overflow-x-hidden;
}
.container {
  @apply mx-auto px-4 md:px-6;
}
